.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 100%;
  margin: 0 auto;
  padding: 25px;
}

.calculator__input-field {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0 0 30px 0;
  padding: 0 10px;

  font-size: 70px;
  line-height: 74px;
  font-family: $font-sfpro;
  text-align: right;
  color: $color-default-white;

  background-color: $color-transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.calculator__buttons {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.calculator__row {
  display: grid;
  width: 100%;

  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__button {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;

  font-size: 28px;
  line-height: 30px;
  font-family: $font-sfpro;
  text-align: center;

  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.calculator__button--zero {
  width: 100%;

  grid-column: 1 / 3;
}

.calculator__button--digit {
  color: $color-default-white;
  background-color: $color-matterhorn;
}

.calculator__button--operator {
  color: $color-default-white;
  background-color: $color-dark-orange;
}

.calculator__button--func {
  color: $color-gainsboro;
}
