// Colors
// --------------------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-nero: #1c1c1c;
$color-gainsboro: #d8d8d8;
$color-matterhorn: #505050;
$color-dark-orange: #ff9500;
$color-dark-gray: #a5a5a5;

// Viewports
// --------------------------------------------

$vp-414: 414px;
$vp-768: 768px;
$vp-1280: 1280px;

// Typography
// --------------------------------------------

$font-sfpro: 'DM Sans', sans-serif;


// Retina
// --------------------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
